<!DOCTYPE html>
<html>
<head>
  
    <title> Eat Burger</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    {{{body}}}


    <script src = "./Assets/javascript/script.js"></script>
</body>
</html>


